---
log:
  # Set a lower level when running in production
  level: debug
  format: json

access_rules:
  # Defaults to regexp
  matching_strategy: glob

serve:
  proxy:
    cors:
      enabled: true
      allowed_origins:
        - "*"
      allowed_methods:
        - POST
        - GET
        - PUT
        - PATCH
        - DELETE
      allowed_headers:
        - Authorization
        - Content-Type
      exposed_headers:
        - Content-Type
      allow_credentials: true
      debug: true

errors:
  fallback:
    - redirect
    - json
  handlers:
    redirect:
      enabled: true
      config:
        to: ${protocol}://${hostname}/profile/auth/login
        when:
          - request:
              header:
                accept:
                  - text/*
                  - application/xhtml+xml
    json:
      enabled: true
      config:
        verbose: true

authenticators:
  anonymous:
    # Set enabled to true if the authenticator should be enabled and false to disable the authenticator. Defaults to false.
    enabled: true
    config:
      subject: guest

  # Cookie based authentication
  cookie_session:
    enabled: true
    config:
      check_session_url: http://ory-kratos-public.ory.svc.cluster.local/sessions/whoami
      preserve_path: true
      extra_from: "@this"
      subject_from: "identity.id"
      only:
        - ory_kratos_session

  # API Token Authentication
  bearer_token:
    enabled: true
    config:
      check_session_url: http://ory-kratos-public.ory.svc.cluster.local/sessions/whoami
      preserve_path: true
      extra_from: "@this"
      subject_from: "identity.id"
      token_from:
        header: "Authorization"

  unauthorized:
    # Set enabled to true if the authenticator should be enabled and false to disable the authenticator. Defaults to false.
    enabled: true

  noop:
    enabled: true

authorizers:
  allow:
    # Set enabled to "true" to enable the authenticator, and "false" to disable the authenticator. Defaults to "false".
    enabled: true
%{ if enable_keto }
  keto_engine_acp_ory:
    enabled: true
    config:
      base_url: http://ory-keto.ory.svc.cluster.local
      required_action: ...
      required_resource: ...
      subject: {{ .Extra.identity.schema_id }}
      flavor: ...
%{ endif }
  remote_json:
    enabled: true
    config:
      remote: http://ory-keto-read.ory.svc.cluster.local
      payload: "{\"subject\":\" \", \"object\":\"  \", \"namespace\":\"  \", \"action\":\"  \"}"

mutators:
  noop:
    # Set enabled to true if the authenticator should be enabled and false to disable the authenticator. Defaults to false.
    enabled: true

  id_token:
    enabled: true
    config:
      issuer_url: ${protocol}://${hostname}
      jwks_url: file://${secret_path}/id_token.jwks.json
      claims: |
        {
          "session": {{ .Extra | toJson }}
        }
---