{
  "id": "${ provider }",
  "provider": "${ provider }",
  "client_id": "${ client_id }",
  "client_secret": "${ client_secret }",
  "mapper_url": "${ mapper_url }",
  "tenant": "${ tenant }",
  "scope": "[${ scope }]"
}